/*
   MARGIN PERCENTAGES

   All possible positive margin percentage values

   Legend:

   m = margin

   t = top
   r = right
   b = bottom
   l = left

   -dd(d) = literal percentage value


*/

.mt-01 { margin-top: 1%; }
.mt-02 { margin-top: 2%; }
.mt-03 { margin-top: 3%; }
.mt-04 { margin-top: 4%; }
.mt-05 { margin-top: 5%; }
.mt-06 { margin-top: 6%; }
.mt-07 { margin-top: 7%; }
.mt-08 { margin-top: 8%; }
.mt-09 { margin-top: 9%; }
.mt-10 { margin-top: 10%; }
.mt-11 { margin-top: 11%; }
.mt-12 { margin-top: 12%; }
.mt-13 { margin-top: 13%; }
.mt-14 { margin-top: 14%; }
.mt-15 { margin-top: 15%; }
.mt-16 { margin-top: 16%; }
.mt-17 { margin-top: 17%; }
.mt-18 { margin-top: 18%; }
.mt-19 { margin-top: 19%; }
.mt-20 { margin-top: 20%; }
.mt-21 { margin-top: 21%; }
.mt-22 { margin-top: 22%; }
.mt-23 { margin-top: 23%; }
.mt-24 { margin-top: 24%; }
.mt-25 { margin-top: 25%; }
.mt-26 { margin-top: 26%; }
.mt-27 { margin-top: 27%; }
.mt-28 { margin-top: 28%; }
.mt-29 { margin-top: 29%; }
.mt-30 { margin-top: 30%; }
.mt-31 { margin-top: 31%; }
.mt-32 { margin-top: 32%; }
.mt-33 { margin-top: 33%; }
.mt-34 { margin-top: 34%; }
.mt-35 { margin-top: 35%; }
.mt-36 { margin-top: 36%; }
.mt-37 { margin-top: 37%; }
.mt-38 { margin-top: 38%; }
.mt-39 { margin-top: 39%; }
.mt-40 { margin-top: 40%; }
.mt-41 { margin-top: 41%; }
.mt-42 { margin-top: 42%; }
.mt-43 { margin-top: 43%; }
.mt-44 { margin-top: 44%; }
.mt-45 { margin-top: 45%; }
.mt-46 { margin-top: 46%; }
.mt-47 { margin-top: 47%; }
.mt-48 { margin-top: 48%; }
.mt-49 { margin-top: 49%; }
.mt-50 { margin-top: 50%; }
.mt-51 { margin-top: 51%; }
.mt-52 { margin-top: 52%; }
.mt-53 { margin-top: 53%; }
.mt-54 { margin-top: 54%; }
.mt-55 { margin-top: 55%; }
.mt-56 { margin-top: 56%; }
.mt-57 { margin-top: 57%; }
.mt-58 { margin-top: 58%; }
.mt-59 { margin-top: 59%; }
.mt-60 { margin-top: 60%; }
.mt-61 { margin-top: 61%; }
.mt-62 { margin-top: 62%; }
.mt-63 { margin-top: 63%; }
.mt-64 { margin-top: 64%; }
.mt-65 { margin-top: 65%; }
.mt-66 { margin-top: 66%; }
.mt-67 { margin-top: 67%; }
.mt-68 { margin-top: 68%; }
.mt-69 { margin-top: 69%; }
.mt-70 { margin-top: 70%; }
.mt-71 { margin-top: 71%; }
.mt-72 { margin-top: 72%; }
.mt-73 { margin-top: 73%; }
.mt-74 { margin-top: 74%; }
.mt-75 { margin-top: 75%; }
.mt-76 { margin-top: 76%; }
.mt-77 { margin-top: 77%; }
.mt-78 { margin-top: 78%; }
.mt-79 { margin-top: 79%; }
.mt-80 { margin-top: 80%; }
.mt-81 { margin-top: 81%; }
.mt-82 { margin-top: 82%; }
.mt-83 { margin-top: 83%; }
.mt-84 { margin-top: 84%; }
.mt-85 { margin-top: 85%; }
.mt-86 { margin-top: 86%; }
.mt-87 { margin-top: 87%; }
.mt-88 { margin-top: 88%; }
.mt-89 { margin-top: 89%; }
.mt-90 { margin-top: 90%; }
.mt-91 { margin-top: 91%; }
.mt-92 { margin-top: 92%; }
.mt-93 { margin-top: 93%; }
.mt-94 { margin-top: 94%; }
.mt-95 { margin-top: 95%; }
.mt-96 { margin-top: 96%; }
.mt-97 { margin-top: 97%; }
.mt-98 { margin-top: 98%; }
.mt-99 { margin-top: 99%; }
.mt-100 { margin-top: 100%; }

.mb-01 { margin-bottom: 1%; }
.mb-02 { margin-bottom: 2%; }
.mb-03 { margin-bottom: 3%; }
.mb-04 { margin-bottom: 4%; }
.mb-05 { margin-bottom: 5%; }
.mb-06 { margin-bottom: 6%; }
.mb-07 { margin-bottom: 7%; }
.mb-08 { margin-bottom: 8%; }
.mb-09 { margin-bottom: 9%; }
.mb-10 { margin-bottom: 10%; }
.mb-11 { margin-bottom: 11%; }
.mb-12 { margin-bottom: 12%; }
.mb-13 { margin-bottom: 13%; }
.mb-14 { margin-bottom: 14%; }
.mb-15 { margin-bottom: 15%; }
.mb-16 { margin-bottom: 16%; }
.mb-17 { margin-bottom: 17%; }
.mb-18 { margin-bottom: 18%; }
.mb-19 { margin-bottom: 19%; }
.mb-20 { margin-bottom: 20%; }
.mb-21 { margin-bottom: 21%; }
.mb-22 { margin-bottom: 22%; }
.mb-23 { margin-bottom: 23%; }
.mb-24 { margin-bottom: 24%; }
.mb-25 { margin-bottom: 25%; }
.mb-26 { margin-bottom: 26%; }
.mb-27 { margin-bottom: 27%; }
.mb-28 { margin-bottom: 28%; }
.mb-29 { margin-bottom: 29%; }
.mb-30 { margin-bottom: 30%; }
.mb-31 { margin-bottom: 31%; }
.mb-32 { margin-bottom: 32%; }
.mb-33 { margin-bottom: 33%; }
.mb-34 { margin-bottom: 34%; }
.mb-35 { margin-bottom: 35%; }
.mb-36 { margin-bottom: 36%; }
.mb-37 { margin-bottom: 37%; }
.mb-38 { margin-bottom: 38%; }
.mb-39 { margin-bottom: 39%; }
.mb-40 { margin-bottom: 40%; }
.mb-41 { margin-bottom: 41%; }
.mb-42 { margin-bottom: 42%; }
.mb-43 { margin-bottom: 43%; }
.mb-44 { margin-bottom: 44%; }
.mb-45 { margin-bottom: 45%; }
.mb-46 { margin-bottom: 46%; }
.mb-47 { margin-bottom: 47%; }
.mb-48 { margin-bottom: 48%; }
.mb-49 { margin-bottom: 49%; }
.mb-50 { margin-bottom: 50%; }
.mb-51 { margin-bottom: 51%; }
.mb-52 { margin-bottom: 52%; }
.mb-53 { margin-bottom: 53%; }
.mb-54 { margin-bottom: 54%; }
.mb-55 { margin-bottom: 55%; }
.mb-56 { margin-bottom: 56%; }
.mb-57 { margin-bottom: 57%; }
.mb-58 { margin-bottom: 58%; }
.mb-59 { margin-bottom: 59%; }
.mb-60 { margin-bottom: 60%; }
.mb-61 { margin-bottom: 61%; }
.mb-62 { margin-bottom: 62%; }
.mb-63 { margin-bottom: 63%; }
.mb-64 { margin-bottom: 64%; }
.mb-65 { margin-bottom: 65%; }
.mb-66 { margin-bottom: 66%; }
.mb-67 { margin-bottom: 67%; }
.mb-68 { margin-bottom: 68%; }
.mb-69 { margin-bottom: 69%; }
.mb-70 { margin-bottom: 70%; }
.mb-71 { margin-bottom: 71%; }
.mb-72 { margin-bottom: 72%; }
.mb-73 { margin-bottom: 73%; }
.mb-74 { margin-bottom: 74%; }
.mb-75 { margin-bottom: 75%; }
.mb-76 { margin-bottom: 76%; }
.mb-77 { margin-bottom: 77%; }
.mb-78 { margin-bottom: 78%; }
.mb-79 { margin-bottom: 79%; }
.mb-80 { margin-bottom: 80%; }
.mb-81 { margin-bottom: 81%; }
.mb-82 { margin-bottom: 82%; }
.mb-83 { margin-bottom: 83%; }
.mb-84 { margin-bottom: 84%; }
.mb-85 { margin-bottom: 85%; }
.mb-86 { margin-bottom: 86%; }
.mb-87 { margin-bottom: 87%; }
.mb-88 { margin-bottom: 88%; }
.mb-89 { margin-bottom: 89%; }
.mb-90 { margin-bottom: 90%; }
.mb-91 { margin-bottom: 91%; }
.mb-92 { margin-bottom: 92%; }
.mb-93 { margin-bottom: 93%; }
.mb-94 { margin-bottom: 94%; }
.mb-95 { margin-bottom: 95%; }
.mb-96 { margin-bottom: 96%; }
.mb-97 { margin-bottom: 97%; }
.mb-98 { margin-bottom: 98%; }
.mb-99 { margin-bottom: 99%; }
.mb-100 { margin-bottom: 100%; }

.mr-01 { margin-right: 1%; }
.mr-02 { margin-right: 2%; }
.mr-03 { margin-right: 3%; }
.mr-04 { margin-right: 4%; }
.mr-05 { margin-right: 5%; }
.mr-06 { margin-right: 6%; }
.mr-07 { margin-right: 7%; }
.mr-08 { margin-right: 8%; }
.mr-09 { margin-right: 9%; }
.mr-10 { margin-right: 10%; }
.mr-11 { margin-right: 11%; }
.mr-12 { margin-right: 12%; }
.mr-13 { margin-right: 13%; }
.mr-14 { margin-right: 14%; }
.mr-15 { margin-right: 15%; }
.mr-16 { margin-right: 16%; }
.mr-17 { margin-right: 17%; }
.mr-18 { margin-right: 18%; }
.mr-19 { margin-right: 19%; }
.mr-20 { margin-right: 20%; }
.mr-21 { margin-right: 21%; }
.mr-22 { margin-right: 22%; }
.mr-23 { margin-right: 23%; }
.mr-24 { margin-right: 24%; }
.mr-25 { margin-right: 25%; }
.mr-26 { margin-right: 26%; }
.mr-27 { margin-right: 27%; }
.mr-28 { margin-right: 28%; }
.mr-29 { margin-right: 29%; }
.mr-30 { margin-right: 30%; }
.mr-31 { margin-right: 31%; }
.mr-32 { margin-right: 32%; }
.mr-33 { margin-right: 33%; }
.mr-34 { margin-right: 34%; }
.mr-35 { margin-right: 35%; }
.mr-36 { margin-right: 36%; }
.mr-37 { margin-right: 37%; }
.mr-38 { margin-right: 38%; }
.mr-39 { margin-right: 39%; }
.mr-40 { margin-right: 40%; }
.mr-41 { margin-right: 41%; }
.mr-42 { margin-right: 42%; }
.mr-43 { margin-right: 43%; }
.mr-44 { margin-right: 44%; }
.mr-45 { margin-right: 45%; }
.mr-46 { margin-right: 46%; }
.mr-47 { margin-right: 47%; }
.mr-48 { margin-right: 48%; }
.mr-49 { margin-right: 49%; }
.mr-50 { margin-right: 50%; }
.mr-51 { margin-right: 51%; }
.mr-52 { margin-right: 52%; }
.mr-53 { margin-right: 53%; }
.mr-54 { margin-right: 54%; }
.mr-55 { margin-right: 55%; }
.mr-56 { margin-right: 56%; }
.mr-57 { margin-right: 57%; }
.mr-58 { margin-right: 58%; }
.mr-59 { margin-right: 59%; }
.mr-60 { margin-right: 60%; }
.mr-61 { margin-right: 61%; }
.mr-62 { margin-right: 62%; }
.mr-63 { margin-right: 63%; }
.mr-64 { margin-right: 64%; }
.mr-65 { margin-right: 65%; }
.mr-66 { margin-right: 66%; }
.mr-67 { margin-right: 67%; }
.mr-68 { margin-right: 68%; }
.mr-69 { margin-right: 69%; }
.mr-70 { margin-right: 70%; }
.mr-71 { margin-right: 71%; }
.mr-72 { margin-right: 72%; }
.mr-73 { margin-right: 73%; }
.mr-74 { margin-right: 74%; }
.mr-75 { margin-right: 75%; }
.mr-76 { margin-right: 76%; }
.mr-77 { margin-right: 77%; }
.mr-78 { margin-right: 78%; }
.mr-79 { margin-right: 79%; }
.mr-80 { margin-right: 80%; }
.mr-81 { margin-right: 81%; }
.mr-82 { margin-right: 82%; }
.mr-83 { margin-right: 83%; }
.mr-84 { margin-right: 84%; }
.mr-85 { margin-right: 85%; }
.mr-86 { margin-right: 86%; }
.mr-87 { margin-right: 87%; }
.mr-88 { margin-right: 88%; }
.mr-89 { margin-right: 89%; }
.mr-90 { margin-right: 90%; }
.mr-91 { margin-right: 91%; }
.mr-92 { margin-right: 92%; }
.mr-93 { margin-right: 93%; }
.mr-94 { margin-right: 94%; }
.mr-95 { margin-right: 95%; }
.mr-96 { margin-right: 96%; }
.mr-97 { margin-right: 97%; }
.mr-98 { margin-right: 98%; }
.mr-99 { margin-right: 99%; }
.mr-100 { margin-right: 100%; }

.ml-01 { margin-left: 1%; }
.ml-02 { margin-left: 2%; }
.ml-03 { margin-left: 3%; }
.ml-04 { margin-left: 4%; }
.ml-05 { margin-left: 5%; }
.ml-06 { margin-left: 6%; }
.ml-07 { margin-left: 7%; }
.ml-08 { margin-left: 8%; }
.ml-09 { margin-left: 9%; }
.ml-10 { margin-left: 10%; }
.ml-11 { margin-left: 11%; }
.ml-12 { margin-left: 12%; }
.ml-13 { margin-left: 13%; }
.ml-14 { margin-left: 14%; }
.ml-15 { margin-left: 15%; }
.ml-16 { margin-left: 16%; }
.ml-17 { margin-left: 17%; }
.ml-18 { margin-left: 18%; }
.ml-19 { margin-left: 19%; }
.ml-20 { margin-left: 20%; }
.ml-21 { margin-left: 21%; }
.ml-22 { margin-left: 22%; }
.ml-23 { margin-left: 23%; }
.ml-24 { margin-left: 24%; }
.ml-25 { margin-left: 25%; }
.ml-26 { margin-left: 26%; }
.ml-27 { margin-left: 27%; }
.ml-28 { margin-left: 28%; }
.ml-29 { margin-left: 29%; }
.ml-30 { margin-left: 30%; }
.ml-31 { margin-left: 31%; }
.ml-32 { margin-left: 32%; }
.ml-33 { margin-left: 33%; }
.ml-34 { margin-left: 34%; }
.ml-35 { margin-left: 35%; }
.ml-36 { margin-left: 36%; }
.ml-37 { margin-left: 37%; }
.ml-38 { margin-left: 38%; }
.ml-39 { margin-left: 39%; }
.ml-40 { margin-left: 40%; }
.ml-41 { margin-left: 41%; }
.ml-42 { margin-left: 42%; }
.ml-43 { margin-left: 43%; }
.ml-44 { margin-left: 44%; }
.ml-45 { margin-left: 45%; }
.ml-46 { margin-left: 46%; }
.ml-47 { margin-left: 47%; }
.ml-48 { margin-left: 48%; }
.ml-49 { margin-left: 49%; }
.ml-50 { margin-left: 50%; }
.ml-51 { margin-left: 51%; }
.ml-52 { margin-left: 52%; }
.ml-53 { margin-left: 53%; }
.ml-54 { margin-left: 54%; }
.ml-55 { margin-left: 55%; }
.ml-56 { margin-left: 56%; }
.ml-57 { margin-left: 57%; }
.ml-58 { margin-left: 58%; }
.ml-59 { margin-left: 59%; }
.ml-60 { margin-left: 60%; }
.ml-61 { margin-left: 61%; }
.ml-62 { margin-left: 62%; }
.ml-63 { margin-left: 63%; }
.ml-64 { margin-left: 64%; }
.ml-65 { margin-left: 65%; }
.ml-66 { margin-left: 66%; }
.ml-67 { margin-left: 67%; }
.ml-68 { margin-left: 68%; }
.ml-69 { margin-left: 69%; }
.ml-70 { margin-left: 70%; }
.ml-71 { margin-left: 71%; }
.ml-72 { margin-left: 72%; }
.ml-73 { margin-left: 73%; }
.ml-74 { margin-left: 74%; }
.ml-75 { margin-left: 75%; }
.ml-76 { margin-left: 76%; }
.ml-77 { margin-left: 77%; }
.ml-78 { margin-left: 78%; }
.ml-79 { margin-left: 79%; }
.ml-80 { margin-left: 80%; }
.ml-81 { margin-left: 81%; }
.ml-82 { margin-left: 82%; }
.ml-83 { margin-left: 83%; }
.ml-84 { margin-left: 84%; }
.ml-85 { margin-left: 85%; }
.ml-86 { margin-left: 86%; }
.ml-87 { margin-left: 87%; }
.ml-88 { margin-left: 88%; }
.ml-89 { margin-left: 89%; }
.ml-90 { margin-left: 90%; }
.ml-91 { margin-left: 91%; }
.ml-92 { margin-left: 92%; }
.ml-93 { margin-left: 93%; }
.ml-94 { margin-left: 94%; }
.ml-95 { margin-left: 95%; }
.ml-96 { margin-left: 96%; }
.ml-97 { margin-left: 97%; }
.ml-98 { margin-left: 98%; }
.ml-99 { margin-left: 99%; }
.ml-100 { margin-left: 100%; }


@media screen and (min-width: 32em) {
  .mt-01-s { margin-top: 1%; }
  .mt-02-s { margin-top: 2%; }
  .mt-03-s { margin-top: 3%; }
  .mt-04-s { margin-top: 4%; }
  .mt-05-s { margin-top: 5%; }
  .mt-06-s { margin-top: 6%; }
  .mt-07-s { margin-top: 7%; }
  .mt-08-s { margin-top: 8%; }
  .mt-09-s { margin-top: 9%; }
  .mt-10-s { margin-top: 10%; }
  .mt-11-s { margin-top: 11%; }
  .mt-12-s { margin-top: 12%; }
  .mt-13-s { margin-top: 13%; }
  .mt-14-s { margin-top: 14%; }
  .mt-15-s { margin-top: 15%; }
  .mt-16-s { margin-top: 16%; }
  .mt-17-s { margin-top: 17%; }
  .mt-18-s { margin-top: 18%; }
  .mt-19-s { margin-top: 19%; }
  .mt-20-s { margin-top: 20%; }
  .mt-21-s { margin-top: 21%; }
  .mt-22-s { margin-top: 22%; }
  .mt-23-s { margin-top: 23%; }
  .mt-24-s { margin-top: 24%; }
  .mt-25-s { margin-top: 25%; }
  .mt-26-s { margin-top: 26%; }
  .mt-27-s { margin-top: 27%; }
  .mt-28-s { margin-top: 28%; }
  .mt-29-s { margin-top: 29%; }
  .mt-30-s { margin-top: 30%; }
  .mt-31-s { margin-top: 31%; }
  .mt-32-s { margin-top: 32%; }
  .mt-33-s { margin-top: 33%; }
  .mt-34-s { margin-top: 34%; }
  .mt-35-s { margin-top: 35%; }
  .mt-36-s { margin-top: 36%; }
  .mt-37-s { margin-top: 37%; }
  .mt-38-s { margin-top: 38%; }
  .mt-39-s { margin-top: 39%; }
  .mt-40-s { margin-top: 40%; }
  .mt-41-s { margin-top: 41%; }
  .mt-42-s { margin-top: 42%; }
  .mt-43-s { margin-top: 43%; }
  .mt-44-s { margin-top: 44%; }
  .mt-45-s { margin-top: 45%; }
  .mt-46-s { margin-top: 46%; }
  .mt-47-s { margin-top: 47%; }
  .mt-48-s { margin-top: 48%; }
  .mt-49-s { margin-top: 49%; }
  .mt-50-s { margin-top: 50%; }
  .mt-51-s { margin-top: 51%; }
  .mt-52-s { margin-top: 52%; }
  .mt-53-s { margin-top: 53%; }
  .mt-54-s { margin-top: 54%; }
  .mt-55-s { margin-top: 55%; }
  .mt-56-s { margin-top: 56%; }
  .mt-57-s { margin-top: 57%; }
  .mt-58-s { margin-top: 58%; }
  .mt-59-s { margin-top: 59%; }
  .mt-60-s { margin-top: 60%; }
  .mt-61-s { margin-top: 61%; }
  .mt-62-s { margin-top: 62%; }
  .mt-63-s { margin-top: 63%; }
  .mt-64-s { margin-top: 64%; }
  .mt-65-s { margin-top: 65%; }
  .mt-66-s { margin-top: 66%; }
  .mt-67-s { margin-top: 67%; }
  .mt-68-s { margin-top: 68%; }
  .mt-69-s { margin-top: 69%; }
  .mt-70-s { margin-top: 70%; }
  .mt-71-s { margin-top: 71%; }
  .mt-72-s { margin-top: 72%; }
  .mt-73-s { margin-top: 73%; }
  .mt-74-s { margin-top: 74%; }
  .mt-75-s { margin-top: 75%; }
  .mt-76-s { margin-top: 76%; }
  .mt-77-s { margin-top: 77%; }
  .mt-78-s { margin-top: 78%; }
  .mt-79-s { margin-top: 79%; }
  .mt-80-s { margin-top: 80%; }
  .mt-81-s { margin-top: 81%; }
  .mt-82-s { margin-top: 82%; }
  .mt-83-s { margin-top: 83%; }
  .mt-84-s { margin-top: 84%; }
  .mt-85-s { margin-top: 85%; }
  .mt-86-s { margin-top: 86%; }
  .mt-87-s { margin-top: 87%; }
  .mt-88-s { margin-top: 88%; }
  .mt-89-s { margin-top: 89%; }
  .mt-90-s { margin-top: 90%; }
  .mt-91-s { margin-top: 91%; }
  .mt-92-s { margin-top: 92%; }
  .mt-93-s { margin-top: 93%; }
  .mt-94-s { margin-top: 94%; }
  .mt-95-s { margin-top: 95%; }
  .mt-96-s { margin-top: 96%; }
  .mt-97-s { margin-top: 97%; }
  .mt-98-s { margin-top: 98%; }
  .mt-99-s { margin-top: 99%; }
  .mt-100-s { margin-top: 100%; }

  .mb-01-s { margin-bottom: 1%; }
  .mb-02-s { margin-bottom: 2%; }
  .mb-03-s { margin-bottom: 3%; }
  .mb-04-s { margin-bottom: 4%; }
  .mb-05-s { margin-bottom: 5%; }
  .mb-06-s { margin-bottom: 6%; }
  .mb-07-s { margin-bottom: 7%; }
  .mb-08-s { margin-bottom: 8%; }
  .mb-09-s { margin-bottom: 9%; }
  .mb-10-s { margin-bottom: 10%; }
  .mb-11-s { margin-bottom: 11%; }
  .mb-12-s { margin-bottom: 12%; }
  .mb-13-s { margin-bottom: 13%; }
  .mb-14-s { margin-bottom: 14%; }
  .mb-15-s { margin-bottom: 15%; }
  .mb-16-s { margin-bottom: 16%; }
  .mb-17-s { margin-bottom: 17%; }
  .mb-18-s { margin-bottom: 18%; }
  .mb-19-s { margin-bottom: 19%; }
  .mb-20-s { margin-bottom: 20%; }
  .mb-21-s { margin-bottom: 21%; }
  .mb-22-s { margin-bottom: 22%; }
  .mb-23-s { margin-bottom: 23%; }
  .mb-24-s { margin-bottom: 24%; }
  .mb-25-s { margin-bottom: 25%; }
  .mb-26-s { margin-bottom: 26%; }
  .mb-27-s { margin-bottom: 27%; }
  .mb-28-s { margin-bottom: 28%; }
  .mb-29-s { margin-bottom: 29%; }
  .mb-30-s { margin-bottom: 30%; }
  .mb-31-s { margin-bottom: 31%; }
  .mb-32-s { margin-bottom: 32%; }
  .mb-33-s { margin-bottom: 33%; }
  .mb-34-s { margin-bottom: 34%; }
  .mb-35-s { margin-bottom: 35%; }
  .mb-36-s { margin-bottom: 36%; }
  .mb-37-s { margin-bottom: 37%; }
  .mb-38-s { margin-bottom: 38%; }
  .mb-39-s { margin-bottom: 39%; }
  .mb-40-s { margin-bottom: 40%; }
  .mb-41-s { margin-bottom: 41%; }
  .mb-42-s { margin-bottom: 42%; }
  .mb-43-s { margin-bottom: 43%; }
  .mb-44-s { margin-bottom: 44%; }
  .mb-45-s { margin-bottom: 45%; }
  .mb-46-s { margin-bottom: 46%; }
  .mb-47-s { margin-bottom: 47%; }
  .mb-48-s { margin-bottom: 48%; }
  .mb-49-s { margin-bottom: 49%; }
  .mb-50-s { margin-bottom: 50%; }
  .mb-51-s { margin-bottom: 51%; }
  .mb-52-s { margin-bottom: 52%; }
  .mb-53-s { margin-bottom: 53%; }
  .mb-54-s { margin-bottom: 54%; }
  .mb-55-s { margin-bottom: 55%; }
  .mb-56-s { margin-bottom: 56%; }
  .mb-57-s { margin-bottom: 57%; }
  .mb-58-s { margin-bottom: 58%; }
  .mb-59-s { margin-bottom: 59%; }
  .mb-60-s { margin-bottom: 60%; }
  .mb-61-s { margin-bottom: 61%; }
  .mb-62-s { margin-bottom: 62%; }
  .mb-63-s { margin-bottom: 63%; }
  .mb-64-s { margin-bottom: 64%; }
  .mb-65-s { margin-bottom: 65%; }
  .mb-66-s { margin-bottom: 66%; }
  .mb-67-s { margin-bottom: 67%; }
  .mb-68-s { margin-bottom: 68%; }
  .mb-69-s { margin-bottom: 69%; }
  .mb-70-s { margin-bottom: 70%; }
  .mb-71-s { margin-bottom: 71%; }
  .mb-72-s { margin-bottom: 72%; }
  .mb-73-s { margin-bottom: 73%; }
  .mb-74-s { margin-bottom: 74%; }
  .mb-75-s { margin-bottom: 75%; }
  .mb-76-s { margin-bottom: 76%; }
  .mb-77-s { margin-bottom: 77%; }
  .mb-78-s { margin-bottom: 78%; }
  .mb-79-s { margin-bottom: 79%; }
  .mb-80-s { margin-bottom: 80%; }
  .mb-81-s { margin-bottom: 81%; }
  .mb-82-s { margin-bottom: 82%; }
  .mb-83-s { margin-bottom: 83%; }
  .mb-84-s { margin-bottom: 84%; }
  .mb-85-s { margin-bottom: 85%; }
  .mb-86-s { margin-bottom: 86%; }
  .mb-87-s { margin-bottom: 87%; }
  .mb-88-s { margin-bottom: 88%; }
  .mb-89-s { margin-bottom: 89%; }
  .mb-90-s { margin-bottom: 90%; }
  .mb-91-s { margin-bottom: 91%; }
  .mb-92-s { margin-bottom: 92%; }
  .mb-93-s { margin-bottom: 93%; }
  .mb-94-s { margin-bottom: 94%; }
  .mb-95-s { margin-bottom: 95%; }
  .mb-96-s { margin-bottom: 96%; }
  .mb-97-s { margin-bottom: 97%; }
  .mb-98-s { margin-bottom: 98%; }
  .mb-99-s { margin-bottom: 99%; }
  .mb-100-s { margin-bottom: 100%; }

  .mr-01-s { margin-right: 1%; }
  .mr-02-s { margin-right: 2%; }
  .mr-03-s { margin-right: 3%; }
  .mr-04-s { margin-right: 4%; }
  .mr-05-s { margin-right: 5%; }
  .mr-06-s { margin-right: 6%; }
  .mr-07-s { margin-right: 7%; }
  .mr-08-s { margin-right: 8%; }
  .mr-09-s { margin-right: 9%; }
  .mr-10-s { margin-right: 10%; }
  .mr-11-s { margin-right: 11%; }
  .mr-12-s { margin-right: 12%; }
  .mr-13-s { margin-right: 13%; }
  .mr-14-s { margin-right: 14%; }
  .mr-15-s { margin-right: 15%; }
  .mr-16-s { margin-right: 16%; }
  .mr-17-s { margin-right: 17%; }
  .mr-18-s { margin-right: 18%; }
  .mr-19-s { margin-right: 19%; }
  .mr-20-s { margin-right: 20%; }
  .mr-21-s { margin-right: 21%; }
  .mr-22-s { margin-right: 22%; }
  .mr-23-s { margin-right: 23%; }
  .mr-24-s { margin-right: 24%; }
  .mr-25-s { margin-right: 25%; }
  .mr-26-s { margin-right: 26%; }
  .mr-27-s { margin-right: 27%; }
  .mr-28-s { margin-right: 28%; }
  .mr-29-s { margin-right: 29%; }
  .mr-30-s { margin-right: 30%; }
  .mr-31-s { margin-right: 31%; }
  .mr-32-s { margin-right: 32%; }
  .mr-33-s { margin-right: 33%; }
  .mr-34-s { margin-right: 34%; }
  .mr-35-s { margin-right: 35%; }
  .mr-36-s { margin-right: 36%; }
  .mr-37-s { margin-right: 37%; }
  .mr-38-s { margin-right: 38%; }
  .mr-39-s { margin-right: 39%; }
  .mr-40-s { margin-right: 40%; }
  .mr-41-s { margin-right: 41%; }
  .mr-42-s { margin-right: 42%; }
  .mr-43-s { margin-right: 43%; }
  .mr-44-s { margin-right: 44%; }
  .mr-45-s { margin-right: 45%; }
  .mr-46-s { margin-right: 46%; }
  .mr-47-s { margin-right: 47%; }
  .mr-48-s { margin-right: 48%; }
  .mr-49-s { margin-right: 49%; }
  .mr-50-s { margin-right: 50%; }
  .mr-51-s { margin-right: 51%; }
  .mr-52-s { margin-right: 52%; }
  .mr-53-s { margin-right: 53%; }
  .mr-54-s { margin-right: 54%; }
  .mr-55-s { margin-right: 55%; }
  .mr-56-s { margin-right: 56%; }
  .mr-57-s { margin-right: 57%; }
  .mr-58-s { margin-right: 58%; }
  .mr-59-s { margin-right: 59%; }
  .mr-60-s { margin-right: 60%; }
  .mr-61-s { margin-right: 61%; }
  .mr-62-s { margin-right: 62%; }
  .mr-63-s { margin-right: 63%; }
  .mr-64-s { margin-right: 64%; }
  .mr-65-s { margin-right: 65%; }
  .mr-66-s { margin-right: 66%; }
  .mr-67-s { margin-right: 67%; }
  .mr-68-s { margin-right: 68%; }
  .mr-69-s { margin-right: 69%; }
  .mr-70-s { margin-right: 70%; }
  .mr-71-s { margin-right: 71%; }
  .mr-72-s { margin-right: 72%; }
  .mr-73-s { margin-right: 73%; }
  .mr-74-s { margin-right: 74%; }
  .mr-75-s { margin-right: 75%; }
  .mr-76-s { margin-right: 76%; }
  .mr-77-s { margin-right: 77%; }
  .mr-78-s { margin-right: 78%; }
  .mr-79-s { margin-right: 79%; }
  .mr-80-s { margin-right: 80%; }
  .mr-81-s { margin-right: 81%; }
  .mr-82-s { margin-right: 82%; }
  .mr-83-s { margin-right: 83%; }
  .mr-84-s { margin-right: 84%; }
  .mr-85-s { margin-right: 85%; }
  .mr-86-s { margin-right: 86%; }
  .mr-87-s { margin-right: 87%; }
  .mr-88-s { margin-right: 88%; }
  .mr-89-s { margin-right: 89%; }
  .mr-90-s { margin-right: 90%; }
  .mr-91-s { margin-right: 91%; }
  .mr-92-s { margin-right: 92%; }
  .mr-93-s { margin-right: 93%; }
  .mr-94-s { margin-right: 94%; }
  .mr-95-s { margin-right: 95%; }
  .mr-96-s { margin-right: 96%; }
  .mr-97-s { margin-right: 97%; }
  .mr-98-s { margin-right: 98%; }
  .mr-99-s { margin-right: 99%; }
  .mr-100-s { margin-right: 100%; }

  .ml-01-s { margin-left: 1%; }
  .ml-02-s { margin-left: 2%; }
  .ml-03-s { margin-left: 3%; }
  .ml-04-s { margin-left: 4%; }
  .ml-05-s { margin-left: 5%; }
  .ml-06-s { margin-left: 6%; }
  .ml-07-s { margin-left: 7%; }
  .ml-08-s { margin-left: 8%; }
  .ml-09-s { margin-left: 9%; }
  .ml-10-s { margin-left: 10%; }
  .ml-11-s { margin-left: 11%; }
  .ml-12-s { margin-left: 12%; }
  .ml-13-s { margin-left: 13%; }
  .ml-14-s { margin-left: 14%; }
  .ml-15-s { margin-left: 15%; }
  .ml-16-s { margin-left: 16%; }
  .ml-17-s { margin-left: 17%; }
  .ml-18-s { margin-left: 18%; }
  .ml-19-s { margin-left: 19%; }
  .ml-20-s { margin-left: 20%; }
  .ml-21-s { margin-left: 21%; }
  .ml-22-s { margin-left: 22%; }
  .ml-23-s { margin-left: 23%; }
  .ml-24-s { margin-left: 24%; }
  .ml-25-s { margin-left: 25%; }
  .ml-26-s { margin-left: 26%; }
  .ml-27-s { margin-left: 27%; }
  .ml-28-s { margin-left: 28%; }
  .ml-29-s { margin-left: 29%; }
  .ml-30-s { margin-left: 30%; }
  .ml-31-s { margin-left: 31%; }
  .ml-32-s { margin-left: 32%; }
  .ml-33-s { margin-left: 33%; }
  .ml-34-s { margin-left: 34%; }
  .ml-35-s { margin-left: 35%; }
  .ml-36-s { margin-left: 36%; }
  .ml-37-s { margin-left: 37%; }
  .ml-38-s { margin-left: 38%; }
  .ml-39-s { margin-left: 39%; }
  .ml-40-s { margin-left: 40%; }
  .ml-41-s { margin-left: 41%; }
  .ml-42-s { margin-left: 42%; }
  .ml-43-s { margin-left: 43%; }
  .ml-44-s { margin-left: 44%; }
  .ml-45-s { margin-left: 45%; }
  .ml-46-s { margin-left: 46%; }
  .ml-47-s { margin-left: 47%; }
  .ml-48-s { margin-left: 48%; }
  .ml-49-s { margin-left: 49%; }
  .ml-50-s { margin-left: 50%; }
  .ml-51-s { margin-left: 51%; }
  .ml-52-s { margin-left: 52%; }
  .ml-53-s { margin-left: 53%; }
  .ml-54-s { margin-left: 54%; }
  .ml-55-s { margin-left: 55%; }
  .ml-56-s { margin-left: 56%; }
  .ml-57-s { margin-left: 57%; }
  .ml-58-s { margin-left: 58%; }
  .ml-59-s { margin-left: 59%; }
  .ml-60-s { margin-left: 60%; }
  .ml-61-s { margin-left: 61%; }
  .ml-62-s { margin-left: 62%; }
  .ml-63-s { margin-left: 63%; }
  .ml-64-s { margin-left: 64%; }
  .ml-65-s { margin-left: 65%; }
  .ml-66-s { margin-left: 66%; }
  .ml-67-s { margin-left: 67%; }
  .ml-68-s { margin-left: 68%; }
  .ml-69-s { margin-left: 69%; }
  .ml-70-s { margin-left: 70%; }
  .ml-71-s { margin-left: 71%; }
  .ml-72-s { margin-left: 72%; }
  .ml-73-s { margin-left: 73%; }
  .ml-74-s { margin-left: 74%; }
  .ml-75-s { margin-left: 75%; }
  .ml-76-s { margin-left: 76%; }
  .ml-77-s { margin-left: 77%; }
  .ml-78-s { margin-left: 78%; }
  .ml-79-s { margin-left: 79%; }
  .ml-80-s { margin-left: 80%; }
  .ml-81-s { margin-left: 81%; }
  .ml-82-s { margin-left: 82%; }
  .ml-83-s { margin-left: 83%; }
  .ml-84-s { margin-left: 84%; }
  .ml-85-s { margin-left: 85%; }
  .ml-86-s { margin-left: 86%; }
  .ml-87-s { margin-left: 87%; }
  .ml-88-s { margin-left: 88%; }
  .ml-89-s { margin-left: 89%; }
  .ml-90-s { margin-left: 90%; }
  .ml-91-s { margin-left: 91%; }
  .ml-92-s { margin-left: 92%; }
  .ml-93-s { margin-left: 93%; }
  .ml-94-s { margin-left: 94%; }
  .ml-95-s { margin-left: 95%; }
  .ml-96-s { margin-left: 96%; }
  .ml-97-s { margin-left: 97%; }
  .ml-98-s { margin-left: 98%; }
  .ml-99-s { margin-left: 99%; }
  .ml-100-s { margin-left: 100%; }

}

@media screen and (min-width:48em) {
  .mt-01-m { margin-top: 1%; }
  .mt-02-m { margin-top: 2%; }
  .mt-03-m { margin-top: 3%; }
  .mt-04-m { margin-top: 4%; }
  .mt-05-m { margin-top: 5%; }
  .mt-06-m { margin-top: 6%; }
  .mt-07-m { margin-top: 7%; }
  .mt-08-m { margin-top: 8%; }
  .mt-09-m { margin-top: 9%; }
  .mt-10-m { margin-top: 10%; }
  .mt-11-m { margin-top: 11%; }
  .mt-12-m { margin-top: 12%; }
  .mt-13-m { margin-top: 13%; }
  .mt-14-m { margin-top: 14%; }
  .mt-15-m { margin-top: 15%; }
  .mt-16-m { margin-top: 16%; }
  .mt-17-m { margin-top: 17%; }
  .mt-18-m { margin-top: 18%; }
  .mt-19-m { margin-top: 19%; }
  .mt-20-m { margin-top: 20%; }
  .mt-21-m { margin-top: 21%; }
  .mt-22-m { margin-top: 22%; }
  .mt-23-m { margin-top: 23%; }
  .mt-24-m { margin-top: 24%; }
  .mt-25-m { margin-top: 25%; }
  .mt-26-m { margin-top: 26%; }
  .mt-27-m { margin-top: 27%; }
  .mt-28-m { margin-top: 28%; }
  .mt-29-m { margin-top: 29%; }
  .mt-30-m { margin-top: 30%; }
  .mt-31-m { margin-top: 31%; }
  .mt-32-m { margin-top: 32%; }
  .mt-33-m { margin-top: 33%; }
  .mt-34-m { margin-top: 34%; }
  .mt-35-m { margin-top: 35%; }
  .mt-36-m { margin-top: 36%; }
  .mt-37-m { margin-top: 37%; }
  .mt-38-m { margin-top: 38%; }
  .mt-39-m { margin-top: 39%; }
  .mt-40-m { margin-top: 40%; }
  .mt-41-m { margin-top: 41%; }
  .mt-42-m { margin-top: 42%; }
  .mt-43-m { margin-top: 43%; }
  .mt-44-m { margin-top: 44%; }
  .mt-45-m { margin-top: 45%; }
  .mt-46-m { margin-top: 46%; }
  .mt-47-m { margin-top: 47%; }
  .mt-48-m { margin-top: 48%; }
  .mt-49-m { margin-top: 49%; }
  .mt-50-m { margin-top: 50%; }
  .mt-51-m { margin-top: 51%; }
  .mt-52-m { margin-top: 52%; }
  .mt-53-m { margin-top: 53%; }
  .mt-54-m { margin-top: 54%; }
  .mt-55-m { margin-top: 55%; }
  .mt-56-m { margin-top: 56%; }
  .mt-57-m { margin-top: 57%; }
  .mt-58-m { margin-top: 58%; }
  .mt-59-m { margin-top: 59%; }
  .mt-60-m { margin-top: 60%; }
  .mt-61-m { margin-top: 61%; }
  .mt-62-m { margin-top: 62%; }
  .mt-63-m { margin-top: 63%; }
  .mt-64-m { margin-top: 64%; }
  .mt-65-m { margin-top: 65%; }
  .mt-66-m { margin-top: 66%; }
  .mt-67-m { margin-top: 67%; }
  .mt-68-m { margin-top: 68%; }
  .mt-69-m { margin-top: 69%; }
  .mt-70-m { margin-top: 70%; }
  .mt-71-m { margin-top: 71%; }
  .mt-72-m { margin-top: 72%; }
  .mt-73-m { margin-top: 73%; }
  .mt-74-m { margin-top: 74%; }
  .mt-75-m { margin-top: 75%; }
  .mt-76-m { margin-top: 76%; }
  .mt-77-m { margin-top: 77%; }
  .mt-78-m { margin-top: 78%; }
  .mt-79-m { margin-top: 79%; }
  .mt-80-m { margin-top: 80%; }
  .mt-81-m { margin-top: 81%; }
  .mt-82-m { margin-top: 82%; }
  .mt-83-m { margin-top: 83%; }
  .mt-84-m { margin-top: 84%; }
  .mt-85-m { margin-top: 85%; }
  .mt-86-m { margin-top: 86%; }
  .mt-87-m { margin-top: 87%; }
  .mt-88-m { margin-top: 88%; }
  .mt-89-m { margin-top: 89%; }
  .mt-90-m { margin-top: 90%; }
  .mt-91-m { margin-top: 91%; }
  .mt-92-m { margin-top: 92%; }
  .mt-93-m { margin-top: 93%; }
  .mt-94-m { margin-top: 94%; }
  .mt-95-m { margin-top: 95%; }
  .mt-96-m { margin-top: 96%; }
  .mt-97-m { margin-top: 97%; }
  .mt-98-m { margin-top: 98%; }
  .mt-99-m { margin-top: 99%; }
  .mt-100-m { margin-top: 100%; }

  .mb-01-m { margin-bottom: 1%; }
  .mb-02-m { margin-bottom: 2%; }
  .mb-03-m { margin-bottom: 3%; }
  .mb-04-m { margin-bottom: 4%; }
  .mb-05-m { margin-bottom: 5%; }
  .mb-06-m { margin-bottom: 6%; }
  .mb-07-m { margin-bottom: 7%; }
  .mb-08-m { margin-bottom: 8%; }
  .mb-09-m { margin-bottom: 9%; }
  .mb-10-m { margin-bottom: 10%; }
  .mb-11-m { margin-bottom: 11%; }
  .mb-12-m { margin-bottom: 12%; }
  .mb-13-m { margin-bottom: 13%; }
  .mb-14-m { margin-bottom: 14%; }
  .mb-15-m { margin-bottom: 15%; }
  .mb-16-m { margin-bottom: 16%; }
  .mb-17-m { margin-bottom: 17%; }
  .mb-18-m { margin-bottom: 18%; }
  .mb-19-m { margin-bottom: 19%; }
  .mb-20-m { margin-bottom: 20%; }
  .mb-21-m { margin-bottom: 21%; }
  .mb-22-m { margin-bottom: 22%; }
  .mb-23-m { margin-bottom: 23%; }
  .mb-24-m { margin-bottom: 24%; }
  .mb-25-m { margin-bottom: 25%; }
  .mb-26-m { margin-bottom: 26%; }
  .mb-27-m { margin-bottom: 27%; }
  .mb-28-m { margin-bottom: 28%; }
  .mb-29-m { margin-bottom: 29%; }
  .mb-30-m { margin-bottom: 30%; }
  .mb-31-m { margin-bottom: 31%; }
  .mb-32-m { margin-bottom: 32%; }
  .mb-33-m { margin-bottom: 33%; }
  .mb-34-m { margin-bottom: 34%; }
  .mb-35-m { margin-bottom: 35%; }
  .mb-36-m { margin-bottom: 36%; }
  .mb-37-m { margin-bottom: 37%; }
  .mb-38-m { margin-bottom: 38%; }
  .mb-39-m { margin-bottom: 39%; }
  .mb-40-m { margin-bottom: 40%; }
  .mb-41-m { margin-bottom: 41%; }
  .mb-42-m { margin-bottom: 42%; }
  .mb-43-m { margin-bottom: 43%; }
  .mb-44-m { margin-bottom: 44%; }
  .mb-45-m { margin-bottom: 45%; }
  .mb-46-m { margin-bottom: 46%; }
  .mb-47-m { margin-bottom: 47%; }
  .mb-48-m { margin-bottom: 48%; }
  .mb-49-m { margin-bottom: 49%; }
  .mb-50-m { margin-bottom: 50%; }
  .mb-51-m { margin-bottom: 51%; }
  .mb-52-m { margin-bottom: 52%; }
  .mb-53-m { margin-bottom: 53%; }
  .mb-54-m { margin-bottom: 54%; }
  .mb-55-m { margin-bottom: 55%; }
  .mb-56-m { margin-bottom: 56%; }
  .mb-57-m { margin-bottom: 57%; }
  .mb-58-m { margin-bottom: 58%; }
  .mb-59-m { margin-bottom: 59%; }
  .mb-60-m { margin-bottom: 60%; }
  .mb-61-m { margin-bottom: 61%; }
  .mb-62-m { margin-bottom: 62%; }
  .mb-63-m { margin-bottom: 63%; }
  .mb-64-m { margin-bottom: 64%; }
  .mb-65-m { margin-bottom: 65%; }
  .mb-66-m { margin-bottom: 66%; }
  .mb-67-m { margin-bottom: 67%; }
  .mb-68-m { margin-bottom: 68%; }
  .mb-69-m { margin-bottom: 69%; }
  .mb-70-m { margin-bottom: 70%; }
  .mb-71-m { margin-bottom: 71%; }
  .mb-72-m { margin-bottom: 72%; }
  .mb-73-m { margin-bottom: 73%; }
  .mb-74-m { margin-bottom: 74%; }
  .mb-75-m { margin-bottom: 75%; }
  .mb-76-m { margin-bottom: 76%; }
  .mb-77-m { margin-bottom: 77%; }
  .mb-78-m { margin-bottom: 78%; }
  .mb-79-m { margin-bottom: 79%; }
  .mb-80-m { margin-bottom: 80%; }
  .mb-81-m { margin-bottom: 81%; }
  .mb-82-m { margin-bottom: 82%; }
  .mb-83-m { margin-bottom: 83%; }
  .mb-84-m { margin-bottom: 84%; }
  .mb-85-m { margin-bottom: 85%; }
  .mb-86-m { margin-bottom: 86%; }
  .mb-87-m { margin-bottom: 87%; }
  .mb-88-m { margin-bottom: 88%; }
  .mb-89-m { margin-bottom: 89%; }
  .mb-90-m { margin-bottom: 90%; }
  .mb-91-m { margin-bottom: 91%; }
  .mb-92-m { margin-bottom: 92%; }
  .mb-93-m { margin-bottom: 93%; }
  .mb-94-m { margin-bottom: 94%; }
  .mb-95-m { margin-bottom: 95%; }
  .mb-96-m { margin-bottom: 96%; }
  .mb-97-m { margin-bottom: 97%; }
  .mb-98-m { margin-bottom: 98%; }
  .mb-99-m { margin-bottom: 99%; }
  .mb-100-m { margin-bottom: 100%; }

  .mr-01-m { margin-right: 1%; }
  .mr-02-m { margin-right: 2%; }
  .mr-03-m { margin-right: 3%; }
  .mr-04-m { margin-right: 4%; }
  .mr-05-m { margin-right: 5%; }
  .mr-06-m { margin-right: 6%; }
  .mr-07-m { margin-right: 7%; }
  .mr-08-m { margin-right: 8%; }
  .mr-09-m { margin-right: 9%; }
  .mr-10-m { margin-right: 10%; }
  .mr-11-m { margin-right: 11%; }
  .mr-12-m { margin-right: 12%; }
  .mr-13-m { margin-right: 13%; }
  .mr-14-m { margin-right: 14%; }
  .mr-15-m { margin-right: 15%; }
  .mr-16-m { margin-right: 16%; }
  .mr-17-m { margin-right: 17%; }
  .mr-18-m { margin-right: 18%; }
  .mr-19-m { margin-right: 19%; }
  .mr-20-m { margin-right: 20%; }
  .mr-21-m { margin-right: 21%; }
  .mr-22-m { margin-right: 22%; }
  .mr-23-m { margin-right: 23%; }
  .mr-24-m { margin-right: 24%; }
  .mr-25-m { margin-right: 25%; }
  .mr-26-m { margin-right: 26%; }
  .mr-27-m { margin-right: 27%; }
  .mr-28-m { margin-right: 28%; }
  .mr-29-m { margin-right: 29%; }
  .mr-30-m { margin-right: 30%; }
  .mr-31-m { margin-right: 31%; }
  .mr-32-m { margin-right: 32%; }
  .mr-33-m { margin-right: 33%; }
  .mr-34-m { margin-right: 34%; }
  .mr-35-m { margin-right: 35%; }
  .mr-36-m { margin-right: 36%; }
  .mr-37-m { margin-right: 37%; }
  .mr-38-m { margin-right: 38%; }
  .mr-39-m { margin-right: 39%; }
  .mr-40-m { margin-right: 40%; }
  .mr-41-m { margin-right: 41%; }
  .mr-42-m { margin-right: 42%; }
  .mr-43-m { margin-right: 43%; }
  .mr-44-m { margin-right: 44%; }
  .mr-45-m { margin-right: 45%; }
  .mr-46-m { margin-right: 46%; }
  .mr-47-m { margin-right: 47%; }
  .mr-48-m { margin-right: 48%; }
  .mr-49-m { margin-right: 49%; }
  .mr-50-m { margin-right: 50%; }
  .mr-51-m { margin-right: 51%; }
  .mr-52-m { margin-right: 52%; }
  .mr-53-m { margin-right: 53%; }
  .mr-54-m { margin-right: 54%; }
  .mr-55-m { margin-right: 55%; }
  .mr-56-m { margin-right: 56%; }
  .mr-57-m { margin-right: 57%; }
  .mr-58-m { margin-right: 58%; }
  .mr-59-m { margin-right: 59%; }
  .mr-60-m { margin-right: 60%; }
  .mr-61-m { margin-right: 61%; }
  .mr-62-m { margin-right: 62%; }
  .mr-63-m { margin-right: 63%; }
  .mr-64-m { margin-right: 64%; }
  .mr-65-m { margin-right: 65%; }
  .mr-66-m { margin-right: 66%; }
  .mr-67-m { margin-right: 67%; }
  .mr-68-m { margin-right: 68%; }
  .mr-69-m { margin-right: 69%; }
  .mr-70-m { margin-right: 70%; }
  .mr-71-m { margin-right: 71%; }
  .mr-72-m { margin-right: 72%; }
  .mr-73-m { margin-right: 73%; }
  .mr-74-m { margin-right: 74%; }
  .mr-75-m { margin-right: 75%; }
  .mr-76-m { margin-right: 76%; }
  .mr-77-m { margin-right: 77%; }
  .mr-78-m { margin-right: 78%; }
  .mr-79-m { margin-right: 79%; }
  .mr-80-m { margin-right: 80%; }
  .mr-81-m { margin-right: 81%; }
  .mr-82-m { margin-right: 82%; }
  .mr-83-m { margin-right: 83%; }
  .mr-84-m { margin-right: 84%; }
  .mr-85-m { margin-right: 85%; }
  .mr-86-m { margin-right: 86%; }
  .mr-87-m { margin-right: 87%; }
  .mr-88-m { margin-right: 88%; }
  .mr-89-m { margin-right: 89%; }
  .mr-90-m { margin-right: 90%; }
  .mr-91-m { margin-right: 91%; }
  .mr-92-m { margin-right: 92%; }
  .mr-93-m { margin-right: 93%; }
  .mr-94-m { margin-right: 94%; }
  .mr-95-m { margin-right: 95%; }
  .mr-96-m { margin-right: 96%; }
  .mr-97-m { margin-right: 97%; }
  .mr-98-m { margin-right: 98%; }
  .mr-99-m { margin-right: 99%; }
  .mr-100-m { margin-right: 100%; }

  .ml-01-m { margin-left: 1%; }
  .ml-02-m { margin-left: 2%; }
  .ml-03-m { margin-left: 3%; }
  .ml-04-m { margin-left: 4%; }
  .ml-05-m { margin-left: 5%; }
  .ml-06-m { margin-left: 6%; }
  .ml-07-m { margin-left: 7%; }
  .ml-08-m { margin-left: 8%; }
  .ml-09-m { margin-left: 9%; }
  .ml-10-m { margin-left: 10%; }
  .ml-11-m { margin-left: 11%; }
  .ml-12-m { margin-left: 12%; }
  .ml-13-m { margin-left: 13%; }
  .ml-14-m { margin-left: 14%; }
  .ml-15-m { margin-left: 15%; }
  .ml-16-m { margin-left: 16%; }
  .ml-17-m { margin-left: 17%; }
  .ml-18-m { margin-left: 18%; }
  .ml-19-m { margin-left: 19%; }
  .ml-20-m { margin-left: 20%; }
  .ml-21-m { margin-left: 21%; }
  .ml-22-m { margin-left: 22%; }
  .ml-23-m { margin-left: 23%; }
  .ml-24-m { margin-left: 24%; }
  .ml-25-m { margin-left: 25%; }
  .ml-26-m { margin-left: 26%; }
  .ml-27-m { margin-left: 27%; }
  .ml-28-m { margin-left: 28%; }
  .ml-29-m { margin-left: 29%; }
  .ml-30-m { margin-left: 30%; }
  .ml-31-m { margin-left: 31%; }
  .ml-32-m { margin-left: 32%; }
  .ml-33-m { margin-left: 33%; }
  .ml-34-m { margin-left: 34%; }
  .ml-35-m { margin-left: 35%; }
  .ml-36-m { margin-left: 36%; }
  .ml-37-m { margin-left: 37%; }
  .ml-38-m { margin-left: 38%; }
  .ml-39-m { margin-left: 39%; }
  .ml-40-m { margin-left: 40%; }
  .ml-41-m { margin-left: 41%; }
  .ml-42-m { margin-left: 42%; }
  .ml-43-m { margin-left: 43%; }
  .ml-44-m { margin-left: 44%; }
  .ml-45-m { margin-left: 45%; }
  .ml-46-m { margin-left: 46%; }
  .ml-47-m { margin-left: 47%; }
  .ml-48-m { margin-left: 48%; }
  .ml-49-m { margin-left: 49%; }
  .ml-50-m { margin-left: 50%; }
  .ml-51-m { margin-left: 51%; }
  .ml-52-m { margin-left: 52%; }
  .ml-53-m { margin-left: 53%; }
  .ml-54-m { margin-left: 54%; }
  .ml-55-m { margin-left: 55%; }
  .ml-56-m { margin-left: 56%; }
  .ml-57-m { margin-left: 57%; }
  .ml-58-m { margin-left: 58%; }
  .ml-59-m { margin-left: 59%; }
  .ml-60-m { margin-left: 60%; }
  .ml-61-m { margin-left: 61%; }
  .ml-62-m { margin-left: 62%; }
  .ml-63-m { margin-left: 63%; }
  .ml-64-m { margin-left: 64%; }
  .ml-65-m { margin-left: 65%; }
  .ml-66-m { margin-left: 66%; }
  .ml-67-m { margin-left: 67%; }
  .ml-68-m { margin-left: 68%; }
  .ml-69-m { margin-left: 69%; }
  .ml-70-m { margin-left: 70%; }
  .ml-71-m { margin-left: 71%; }
  .ml-72-m { margin-left: 72%; }
  .ml-73-m { margin-left: 73%; }
  .ml-74-m { margin-left: 74%; }
  .ml-75-m { margin-left: 75%; }
  .ml-76-m { margin-left: 76%; }
  .ml-77-m { margin-left: 77%; }
  .ml-78-m { margin-left: 78%; }
  .ml-79-m { margin-left: 79%; }
  .ml-80-m { margin-left: 80%; }
  .ml-81-m { margin-left: 81%; }
  .ml-82-m { margin-left: 82%; }
  .ml-83-m { margin-left: 83%; }
  .ml-84-m { margin-left: 84%; }
  .ml-85-m { margin-left: 85%; }
  .ml-86-m { margin-left: 86%; }
  .ml-87-m { margin-left: 87%; }
  .ml-88-m { margin-left: 88%; }
  .ml-89-m { margin-left: 89%; }
  .ml-90-m { margin-left: 90%; }
  .ml-91-m { margin-left: 91%; }
  .ml-92-m { margin-left: 92%; }
  .ml-93-m { margin-left: 93%; }
  .ml-94-m { margin-left: 94%; }
  .ml-95-m { margin-left: 95%; }
  .ml-96-m { margin-left: 96%; }
  .ml-97-m { margin-left: 97%; }
  .ml-98-m { margin-left: 98%; }
  .ml-99-m { margin-left: 99%; }
  .ml-100-m { margin-left: 100%; }
}

@media screen and (min-width: 96em) {
  .mt-01-l { margin-top: 1%; }
  .mt-02-l { margin-top: 2%; }
  .mt-03-l { margin-top: 3%; }
  .mt-04-l { margin-top: 4%; }
  .mt-05-l { margin-top: 5%; }
  .mt-06-l { margin-top: 6%; }
  .mt-07-l { margin-top: 7%; }
  .mt-08-l { margin-top: 8%; }
  .mt-09-l { margin-top: 9%; }
  .mt-10-l { margin-top: 10%; }
  .mt-11-l { margin-top: 11%; }
  .mt-12-l { margin-top: 12%; }
  .mt-13-l { margin-top: 13%; }
  .mt-14-l { margin-top: 14%; }
  .mt-15-l { margin-top: 15%; }
  .mt-16-l { margin-top: 16%; }
  .mt-17-l { margin-top: 17%; }
  .mt-18-l { margin-top: 18%; }
  .mt-19-l { margin-top: 19%; }
  .mt-20-l { margin-top: 20%; }
  .mt-21-l { margin-top: 21%; }
  .mt-22-l { margin-top: 22%; }
  .mt-23-l { margin-top: 23%; }
  .mt-24-l { margin-top: 24%; }
  .mt-25-l { margin-top: 25%; }
  .mt-26-l { margin-top: 26%; }
  .mt-27-l { margin-top: 27%; }
  .mt-28-l { margin-top: 28%; }
  .mt-29-l { margin-top: 29%; }
  .mt-30-l { margin-top: 30%; }
  .mt-31-l { margin-top: 31%; }
  .mt-32-l { margin-top: 32%; }
  .mt-33-l { margin-top: 33%; }
  .mt-34-l { margin-top: 34%; }
  .mt-35-l { margin-top: 35%; }
  .mt-36-l { margin-top: 36%; }
  .mt-37-l { margin-top: 37%; }
  .mt-38-l { margin-top: 38%; }
  .mt-39-l { margin-top: 39%; }
  .mt-40-l { margin-top: 40%; }
  .mt-41-l { margin-top: 41%; }
  .mt-42-l { margin-top: 42%; }
  .mt-43-l { margin-top: 43%; }
  .mt-44-l { margin-top: 44%; }
  .mt-45-l { margin-top: 45%; }
  .mt-46-l { margin-top: 46%; }
  .mt-47-l { margin-top: 47%; }
  .mt-48-l { margin-top: 48%; }
  .mt-49-l { margin-top: 49%; }
  .mt-50-l { margin-top: 50%; }
  .mt-51-l { margin-top: 51%; }
  .mt-52-l { margin-top: 52%; }
  .mt-53-l { margin-top: 53%; }
  .mt-54-l { margin-top: 54%; }
  .mt-55-l { margin-top: 55%; }
  .mt-56-l { margin-top: 56%; }
  .mt-57-l { margin-top: 57%; }
  .mt-58-l { margin-top: 58%; }
  .mt-59-l { margin-top: 59%; }
  .mt-60-l { margin-top: 60%; }
  .mt-61-l { margin-top: 61%; }
  .mt-62-l { margin-top: 62%; }
  .mt-63-l { margin-top: 63%; }
  .mt-64-l { margin-top: 64%; }
  .mt-65-l { margin-top: 65%; }
  .mt-66-l { margin-top: 66%; }
  .mt-67-l { margin-top: 67%; }
  .mt-68-l { margin-top: 68%; }
  .mt-69-l { margin-top: 69%; }
  .mt-70-l { margin-top: 70%; }
  .mt-71-l { margin-top: 71%; }
  .mt-72-l { margin-top: 72%; }
  .mt-73-l { margin-top: 73%; }
  .mt-74-l { margin-top: 74%; }
  .mt-75-l { margin-top: 75%; }
  .mt-76-l { margin-top: 76%; }
  .mt-77-l { margin-top: 77%; }
  .mt-78-l { margin-top: 78%; }
  .mt-79-l { margin-top: 79%; }
  .mt-80-l { margin-top: 80%; }
  .mt-81-l { margin-top: 81%; }
  .mt-82-l { margin-top: 82%; }
  .mt-83-l { margin-top: 83%; }
  .mt-84-l { margin-top: 84%; }
  .mt-85-l { margin-top: 85%; }
  .mt-86-l { margin-top: 86%; }
  .mt-87-l { margin-top: 87%; }
  .mt-88-l { margin-top: 88%; }
  .mt-89-l { margin-top: 89%; }
  .mt-90-l { margin-top: 90%; }
  .mt-91-l { margin-top: 91%; }
  .mt-92-l { margin-top: 92%; }
  .mt-93-l { margin-top: 93%; }
  .mt-94-l { margin-top: 94%; }
  .mt-95-l { margin-top: 95%; }
  .mt-96-l { margin-top: 96%; }
  .mt-97-l { margin-top: 97%; }
  .mt-98-l { margin-top: 98%; }
  .mt-99-l { margin-top: 99%; }
  .mt-100-l { margin-top: 100%; }

  .mb-01-l { margin-bottom: 1%; }
  .mb-02-l { margin-bottom: 2%; }
  .mb-03-l { margin-bottom: 3%; }
  .mb-04-l { margin-bottom: 4%; }
  .mb-05-l { margin-bottom: 5%; }
  .mb-06-l { margin-bottom: 6%; }
  .mb-07-l { margin-bottom: 7%; }
  .mb-08-l { margin-bottom: 8%; }
  .mb-09-l { margin-bottom: 9%; }
  .mb-10-l { margin-bottom: 10%; }
  .mb-11-l { margin-bottom: 11%; }
  .mb-12-l { margin-bottom: 12%; }
  .mb-13-l { margin-bottom: 13%; }
  .mb-14-l { margin-bottom: 14%; }
  .mb-15-l { margin-bottom: 15%; }
  .mb-16-l { margin-bottom: 16%; }
  .mb-17-l { margin-bottom: 17%; }
  .mb-18-l { margin-bottom: 18%; }
  .mb-19-l { margin-bottom: 19%; }
  .mb-20-l { margin-bottom: 20%; }
  .mb-21-l { margin-bottom: 21%; }
  .mb-22-l { margin-bottom: 22%; }
  .mb-23-l { margin-bottom: 23%; }
  .mb-24-l { margin-bottom: 24%; }
  .mb-25-l { margin-bottom: 25%; }
  .mb-26-l { margin-bottom: 26%; }
  .mb-27-l { margin-bottom: 27%; }
  .mb-28-l { margin-bottom: 28%; }
  .mb-29-l { margin-bottom: 29%; }
  .mb-30-l { margin-bottom: 30%; }
  .mb-31-l { margin-bottom: 31%; }
  .mb-32-l { margin-bottom: 32%; }
  .mb-33-l { margin-bottom: 33%; }
  .mb-34-l { margin-bottom: 34%; }
  .mb-35-l { margin-bottom: 35%; }
  .mb-36-l { margin-bottom: 36%; }
  .mb-37-l { margin-bottom: 37%; }
  .mb-38-l { margin-bottom: 38%; }
  .mb-39-l { margin-bottom: 39%; }
  .mb-40-l { margin-bottom: 40%; }
  .mb-41-l { margin-bottom: 41%; }
  .mb-42-l { margin-bottom: 42%; }
  .mb-43-l { margin-bottom: 43%; }
  .mb-44-l { margin-bottom: 44%; }
  .mb-45-l { margin-bottom: 45%; }
  .mb-46-l { margin-bottom: 46%; }
  .mb-47-l { margin-bottom: 47%; }
  .mb-48-l { margin-bottom: 48%; }
  .mb-49-l { margin-bottom: 49%; }
  .mb-50-l { margin-bottom: 50%; }
  .mb-51-l { margin-bottom: 51%; }
  .mb-52-l { margin-bottom: 52%; }
  .mb-53-l { margin-bottom: 53%; }
  .mb-54-l { margin-bottom: 54%; }
  .mb-55-l { margin-bottom: 55%; }
  .mb-56-l { margin-bottom: 56%; }
  .mb-57-l { margin-bottom: 57%; }
  .mb-58-l { margin-bottom: 58%; }
  .mb-59-l { margin-bottom: 59%; }
  .mb-60-l { margin-bottom: 60%; }
  .mb-61-l { margin-bottom: 61%; }
  .mb-62-l { margin-bottom: 62%; }
  .mb-63-l { margin-bottom: 63%; }
  .mb-64-l { margin-bottom: 64%; }
  .mb-65-l { margin-bottom: 65%; }
  .mb-66-l { margin-bottom: 66%; }
  .mb-67-l { margin-bottom: 67%; }
  .mb-68-l { margin-bottom: 68%; }
  .mb-69-l { margin-bottom: 69%; }
  .mb-70-l { margin-bottom: 70%; }
  .mb-71-l { margin-bottom: 71%; }
  .mb-72-l { margin-bottom: 72%; }
  .mb-73-l { margin-bottom: 73%; }
  .mb-74-l { margin-bottom: 74%; }
  .mb-75-l { margin-bottom: 75%; }
  .mb-76-l { margin-bottom: 76%; }
  .mb-77-l { margin-bottom: 77%; }
  .mb-78-l { margin-bottom: 78%; }
  .mb-79-l { margin-bottom: 79%; }
  .mb-80-l { margin-bottom: 80%; }
  .mb-81-l { margin-bottom: 81%; }
  .mb-82-l { margin-bottom: 82%; }
  .mb-83-l { margin-bottom: 83%; }
  .mb-84-l { margin-bottom: 84%; }
  .mb-85-l { margin-bottom: 85%; }
  .mb-86-l { margin-bottom: 86%; }
  .mb-87-l { margin-bottom: 87%; }
  .mb-88-l { margin-bottom: 88%; }
  .mb-89-l { margin-bottom: 89%; }
  .mb-90-l { margin-bottom: 90%; }
  .mb-91-l { margin-bottom: 91%; }
  .mb-92-l { margin-bottom: 92%; }
  .mb-93-l { margin-bottom: 93%; }
  .mb-94-l { margin-bottom: 94%; }
  .mb-95-l { margin-bottom: 95%; }
  .mb-96-l { margin-bottom: 96%; }
  .mb-97-l { margin-bottom: 97%; }
  .mb-98-l { margin-bottom: 98%; }
  .mb-99-l { margin-bottom: 99%; }
  .mb-100-l { margin-bottom: 100%; }

  .mr-01-l { margin-right: 1%; }
  .mr-02-l { margin-right: 2%; }
  .mr-03-l { margin-right: 3%; }
  .mr-04-l { margin-right: 4%; }
  .mr-05-l { margin-right: 5%; }
  .mr-06-l { margin-right: 6%; }
  .mr-07-l { margin-right: 7%; }
  .mr-08-l { margin-right: 8%; }
  .mr-09-l { margin-right: 9%; }
  .mr-10-l { margin-right: 10%; }
  .mr-11-l { margin-right: 11%; }
  .mr-12-l { margin-right: 12%; }
  .mr-13-l { margin-right: 13%; }
  .mr-14-l { margin-right: 14%; }
  .mr-15-l { margin-right: 15%; }
  .mr-16-l { margin-right: 16%; }
  .mr-17-l { margin-right: 17%; }
  .mr-18-l { margin-right: 18%; }
  .mr-19-l { margin-right: 19%; }
  .mr-20-l { margin-right: 20%; }
  .mr-21-l { margin-right: 21%; }
  .mr-22-l { margin-right: 22%; }
  .mr-23-l { margin-right: 23%; }
  .mr-24-l { margin-right: 24%; }
  .mr-25-l { margin-right: 25%; }
  .mr-26-l { margin-right: 26%; }
  .mr-27-l { margin-right: 27%; }
  .mr-28-l { margin-right: 28%; }
  .mr-29-l { margin-right: 29%; }
  .mr-30-l { margin-right: 30%; }
  .mr-31-l { margin-right: 31%; }
  .mr-32-l { margin-right: 32%; }
  .mr-33-l { margin-right: 33%; }
  .mr-34-l { margin-right: 34%; }
  .mr-35-l { margin-right: 35%; }
  .mr-36-l { margin-right: 36%; }
  .mr-37-l { margin-right: 37%; }
  .mr-38-l { margin-right: 38%; }
  .mr-39-l { margin-right: 39%; }
  .mr-40-l { margin-right: 40%; }
  .mr-41-l { margin-right: 41%; }
  .mr-42-l { margin-right: 42%; }
  .mr-43-l { margin-right: 43%; }
  .mr-44-l { margin-right: 44%; }
  .mr-45-l { margin-right: 45%; }
  .mr-46-l { margin-right: 46%; }
  .mr-47-l { margin-right: 47%; }
  .mr-48-l { margin-right: 48%; }
  .mr-49-l { margin-right: 49%; }
  .mr-50-l { margin-right: 50%; }
  .mr-51-l { margin-right: 51%; }
  .mr-52-l { margin-right: 52%; }
  .mr-53-l { margin-right: 53%; }
  .mr-54-l { margin-right: 54%; }
  .mr-55-l { margin-right: 55%; }
  .mr-56-l { margin-right: 56%; }
  .mr-57-l { margin-right: 57%; }
  .mr-58-l { margin-right: 58%; }
  .mr-59-l { margin-right: 59%; }
  .mr-60-l { margin-right: 60%; }
  .mr-61-l { margin-right: 61%; }
  .mr-62-l { margin-right: 62%; }
  .mr-63-l { margin-right: 63%; }
  .mr-64-l { margin-right: 64%; }
  .mr-65-l { margin-right: 65%; }
  .mr-66-l { margin-right: 66%; }
  .mr-67-l { margin-right: 67%; }
  .mr-68-l { margin-right: 68%; }
  .mr-69-l { margin-right: 69%; }
  .mr-70-l { margin-right: 70%; }
  .mr-71-l { margin-right: 71%; }
  .mr-72-l { margin-right: 72%; }
  .mr-73-l { margin-right: 73%; }
  .mr-74-l { margin-right: 74%; }
  .mr-75-l { margin-right: 75%; }
  .mr-76-l { margin-right: 76%; }
  .mr-77-l { margin-right: 77%; }
  .mr-78-l { margin-right: 78%; }
  .mr-79-l { margin-right: 79%; }
  .mr-80-l { margin-right: 80%; }
  .mr-81-l { margin-right: 81%; }
  .mr-82-l { margin-right: 82%; }
  .mr-83-l { margin-right: 83%; }
  .mr-84-l { margin-right: 84%; }
  .mr-85-l { margin-right: 85%; }
  .mr-86-l { margin-right: 86%; }
  .mr-87-l { margin-right: 87%; }
  .mr-88-l { margin-right: 88%; }
  .mr-89-l { margin-right: 89%; }
  .mr-90-l { margin-right: 90%; }
  .mr-91-l { margin-right: 91%; }
  .mr-92-l { margin-right: 92%; }
  .mr-93-l { margin-right: 93%; }
  .mr-94-l { margin-right: 94%; }
  .mr-95-l { margin-right: 95%; }
  .mr-96-l { margin-right: 96%; }
  .mr-97-l { margin-right: 97%; }
  .mr-98-l { margin-right: 98%; }
  .mr-99-l { margin-right: 99%; }
  .mr-100-l { margin-right: 100%; }

  .ml-01-l { margin-left: 1%; }
  .ml-02-l { margin-left: 2%; }
  .ml-03-l { margin-left: 3%; }
  .ml-04-l { margin-left: 4%; }
  .ml-05-l { margin-left: 5%; }
  .ml-06-l { margin-left: 6%; }
  .ml-07-l { margin-left: 7%; }
  .ml-08-l { margin-left: 8%; }
  .ml-09-l { margin-left: 9%; }
  .ml-10-l { margin-left: 10%; }
  .ml-11-l { margin-left: 11%; }
  .ml-12-l { margin-left: 12%; }
  .ml-13-l { margin-left: 13%; }
  .ml-14-l { margin-left: 14%; }
  .ml-15-l { margin-left: 15%; }
  .ml-16-l { margin-left: 16%; }
  .ml-17-l { margin-left: 17%; }
  .ml-18-l { margin-left: 18%; }
  .ml-19-l { margin-left: 19%; }
  .ml-20-l { margin-left: 20%; }
  .ml-21-l { margin-left: 21%; }
  .ml-22-l { margin-left: 22%; }
  .ml-23-l { margin-left: 23%; }
  .ml-24-l { margin-left: 24%; }
  .ml-25-l { margin-left: 25%; }
  .ml-26-l { margin-left: 26%; }
  .ml-27-l { margin-left: 27%; }
  .ml-28-l { margin-left: 28%; }
  .ml-29-l { margin-left: 29%; }
  .ml-30-l { margin-left: 30%; }
  .ml-31-l { margin-left: 31%; }
  .ml-32-l { margin-left: 32%; }
  .ml-33-l { margin-left: 33%; }
  .ml-34-l { margin-left: 34%; }
  .ml-35-l { margin-left: 35%; }
  .ml-36-l { margin-left: 36%; }
  .ml-37-l { margin-left: 37%; }
  .ml-38-l { margin-left: 38%; }
  .ml-39-l { margin-left: 39%; }
  .ml-40-l { margin-left: 40%; }
  .ml-41-l { margin-left: 41%; }
  .ml-42-l { margin-left: 42%; }
  .ml-43-l { margin-left: 43%; }
  .ml-44-l { margin-left: 44%; }
  .ml-45-l { margin-left: 45%; }
  .ml-46-l { margin-left: 46%; }
  .ml-47-l { margin-left: 47%; }
  .ml-48-l { margin-left: 48%; }
  .ml-49-l { margin-left: 49%; }
  .ml-50-l { margin-left: 50%; }
  .ml-51-l { margin-left: 51%; }
  .ml-52-l { margin-left: 52%; }
  .ml-53-l { margin-left: 53%; }
  .ml-54-l { margin-left: 54%; }
  .ml-55-l { margin-left: 55%; }
  .ml-56-l { margin-left: 56%; }
  .ml-57-l { margin-left: 57%; }
  .ml-58-l { margin-left: 58%; }
  .ml-59-l { margin-left: 59%; }
  .ml-60-l { margin-left: 60%; }
  .ml-61-l { margin-left: 61%; }
  .ml-62-l { margin-left: 62%; }
  .ml-63-l { margin-left: 63%; }
  .ml-64-l { margin-left: 64%; }
  .ml-65-l { margin-left: 65%; }
  .ml-66-l { margin-left: 66%; }
  .ml-67-l { margin-left: 67%; }
  .ml-68-l { margin-left: 68%; }
  .ml-69-l { margin-left: 69%; }
  .ml-70-l { margin-left: 70%; }
  .ml-71-l { margin-left: 71%; }
  .ml-72-l { margin-left: 72%; }
  .ml-73-l { margin-left: 73%; }
  .ml-74-l { margin-left: 74%; }
  .ml-75-l { margin-left: 75%; }
  .ml-76-l { margin-left: 76%; }
  .ml-77-l { margin-left: 77%; }
  .ml-78-l { margin-left: 78%; }
  .ml-79-l { margin-left: 79%; }
  .ml-80-l { margin-left: 80%; }
  .ml-81-l { margin-left: 81%; }
  .ml-82-l { margin-left: 82%; }
  .ml-83-l { margin-left: 83%; }
  .ml-84-l { margin-left: 84%; }
  .ml-85-l { margin-left: 85%; }
  .ml-86-l { margin-left: 86%; }
  .ml-87-l { margin-left: 87%; }
  .ml-88-l { margin-left: 88%; }
  .ml-89-l { margin-left: 89%; }
  .ml-90-l { margin-left: 90%; }
  .ml-91-l { margin-left: 91%; }
  .ml-92-l { margin-left: 92%; }
  .ml-93-l { margin-left: 93%; }
  .ml-94-l { margin-left: 94%; }
  .ml-95-l { margin-left: 95%; }
  .ml-96-l { margin-left: 96%; }
  .ml-97-l { margin-left: 97%; }
  .ml-98-l { margin-left: 98%; }
  .ml-99-l { margin-left: 99%; }
  .ml-100-l { margin-left: 100%; }
}

